@model RegistarPreduzecaV11._0.viewModel.PreduzeceViewModel

@{
    ViewBag.Title = "Details";
}
 <br />
<h1 class="text-center text-primary">@Html.DisplayFor(model => model.Preduzece.RegNaziv)</h1>
<div>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.RegAdresa)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.RegAdresa)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.Opstina)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.Opstina)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.PostanskiBroj)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.PostanskiBroj)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.MaticniBroj)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.MaticniBroj)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.PIB)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.PIB)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.SifraDelatnosti)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.SifraDelatnosti)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.OpisDelatnosti)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.OpisDelatnosti)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.BrojRacuna)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.BrojRacuna)</td>
                    </tr>
                    <tr>
                        <th width="45%">@Html.DisplayNameFor(model => model.Preduzece.WebStranica)</th>
                        <td>@Html.DisplayFor(model => model.Preduzece.WebStranica)</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 text-center">
                <img style="width: 250px; height:auto; border:1px dashed #2c3e50; padding: 10px;" src="@Model.Preduzece.Pecat" />
            </div>
        </div>
    </div>


    <h3 class="text-center"> Kontakt osobe </h3>
    
    <div class="container">
        <div class="row">
            @foreach (var osoba in Model.KontaktOsoba)
            {

                <div class="col-md-6" style=" height: 370px; padding-top: 10px;">
                    @{Html.RenderPartial("KontaktOsobaPartialView", osoba);}

                </div>
            }
        </div>

    </div>
    <br />
    <hr />
    <div class="container">
        <b>@Html.DisplayNameFor(model => model.Preduzece.Beleska)</b>
        @Html.DisplayTextFor(model => model.Preduzece.Beleska)
    </div>
</div>
<div class="container">

@Html.ActionLink("pdf", "Convert", new { id = Model.Preduzece.Id }, new { @class = "pull-right" })
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
