@model RegistarPreduzecaV11._0.Models.Email

<div>
    @*<h4>Email</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.KontaktOsoba.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KontaktOsoba.Ime)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OznakaTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OznakaTipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdresa)
        </dd>

    </dl>
</div>

