@model RegistarPreduzecaV11._0.Models.Email

<div>
    @*<h4>Email</h4>*@
 
        @*<dt>
            @Html.DisplayNameFor(model => model.KontaktOsoba.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KontaktOsoba.Ime)
        </dd>*@

    <ul type="none">
        <li>
            <b>@Html.DisplayNameFor(model => model.OznakaTipa): </b>
            @Html.DisplayFor(model => model.OznakaTipa)
        </li>
        <li>
            <b>@Html.DisplayNameFor(model => model.EmailAdresa): </b>
            @Html.DisplayFor(model => model.EmailAdresa)
        </li>
    </ul>
</div>

