@model RegistarPreduzecaV11._0.Models.KontaktTelefon

<div>
    @*<h4>KontaktTelefon</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.KontaktOsoba.Ime)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.KontaktOsoba.Ime)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OznakaTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OznakaTipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokal)
        </dd>

    </dl>
</div>

