@model RegistarPreduzecaV11._0.Models.KontaktTelefon

@*<div>*@
    @*<h4>KontaktTelefon</h4>*@
    
        @*<dt>
            @Html.DisplayNameFor(model => model.KontaktOsoba.Ime)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.KontaktOsoba.Ime)
        </dd>*@

       @*<table class="table">*@
           @*<tr>
               <th>@Html.DisplayNameFor(model => model.OznakaTipa):</th>
               <th>@Html.DisplayNameFor(model => model.BrojTelefona):</th>
               <th>@Html.DisplayNameFor(model => model.Lokal):</th>
           </tr>*@
           @*<tr>*@
               <td>@Html.DisplayFor(model => model.OznakaTipa)</td>
               <td>@Html.DisplayFor(model => model.BrojTelefona)</td>
               <td>@Html.DisplayFor(model => model.Lokal)</td>
           @*</tr>*@
       @*</table>*@
               
               
        
               
               
        
                
               
           
@*</div>*@

