@model RegistarPreduzecaV11._0.Models.KontaktOsoba

<div>
    @*<h4>KontaktOsoba</h4>*@
    
		@*<dt>
			@Html.DisplayNameFor(model => model.Preduzece.RegNaziv)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Preduzece.RegNaziv)
		</dd>*@
        <ul type="none">
            <li>
                <b>@Html.DisplayNameFor(model => model.Ime): </b>
                @Html.DisplayFor(model => model.Ime)
            </li>
            <li>
                <b>@Html.DisplayNameFor(model => model.Prezime): </b>
                @Html.DisplayFor(model => model.Prezime)
            </li>
            <li>
                <b>@Html.DisplayNameFor(model => model.RadnoMesto): </b>
                @Html.DisplayFor(model => model.RadnoMesto)
            </li>
            <li>
                <b>Kontakt telefon</b>
                @foreach (var kontaktTelefon in Model.KontaktTelefoni)
                {
                    Html.RenderPartial("KontaktTelefonPartialView", kontaktTelefon);
                    <br />
                }
            </li>
            <li>
                <b>E-mail</b>
                @foreach (var email in Model.Emailovi)
                {
                    Html.RenderPartial("EmailPartialView", email);
                    <br />
                }
            </li>
        </ul>	
		


	
</div>
