@model RegistarPreduzecaV11._0.Models.KontaktTelefon

<div>
    @*<h4>KontaktTelefon</h4>*@
    
        @*<dt>
            @Html.DisplayNameFor(model => model.KontaktOsoba.Ime)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.KontaktOsoba.Ime)
        </dd>*@

       <ul type="none">
           <li>
               <b>@Html.DisplayNameFor(model => model.OznakaTipa): </b>
               @Html.DisplayFor(model => model.OznakaTipa)
           </li>
           <li>
               <b>@Html.DisplayNameFor(model => model.BrojTelefona): </b>
               @Html.DisplayFor(model => model.BrojTelefona)
           </li>
           <li>
               <b>@Html.DisplayNameFor(model => model.Lokal): </b>
               @Html.DisplayFor(model => model.Lokal)
           </li>
       </ul>
</div>

