@model RegistarPreduzecaV11._0.viewModel.GrupaKorisnikaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spisak korisnika</h2>
<hr />

<h4>Admini</h4>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Korisnik</th>
        <th>Uloga</th>
    </tr>
    @foreach(var korisnik in Model.Admini)
    {
        <tr>
            <td>@korisnik.Username</td>
            <td>@korisnik.Role</td>
        </tr>
    }
</table>
<hr />

<h4>Moderatori</h4>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Korisnik</th>
        <th>Uloga</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var korisnik in Model.Moderatori)
    {
        <tr>
            <td>@korisnik.Username</td>
            <td>@korisnik.Role</td>
            <td>@Html.ActionLink("Promeni ovlašćenja", "ChangeRoles", new { username = korisnik.Username }, new { @class = "text-info" })</td>
            <td>@Html.ActionLink("Resetuj password","ResetPassword", new { user = korisnik })</td>
            <td>
                @Html.ActionLink("Obriši", "Delete", new { userName = korisnik.Username }, new { @class = "text-danger" })
            </td>
        </tr>
    }
</table>
<hr />

<h4>Korisnici</h4>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Korisnik</th>
        <th>Uloga</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var korisnik in Model.Korisnici)
    {
    <tr>
        <td>@korisnik.Username</td>
        <td>@korisnik.Role</td>
        <td>@Html.ActionLink("Promeni ovlašćenja", "ChangeRoles", new { username = korisnik.Username }, new { @class = "text-info" })</td>
        <td>@Html.ActionLink("Resetuj password", "ResetPassword", new { user = korisnik.Username })</td>
        <td>
            @Html.ActionLink("Obriši", "Delete", new { userName = korisnik.Username }, new { @class = "text-danger" })
        </td>
    </tr>
    }
</table>
