@model RegistarPreduzecaV11._0.Models.KontaktOsoba

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Kontakt osoba - detalji</h2>

<div>
    <hr />

    <table class="table table-hover">
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.Preduzece.RegNaziv)</th>
            <td>@Html.DisplayFor(model => model.Preduzece.RegNaziv)</td>
        </tr>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.Ime)</th>
            <td>@Html.DisplayFor(model => model.Ime)</td>
        </tr>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.Prezime)</th>
            <td>@Html.DisplayFor(model => model.Prezime)</td>
        </tr>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.RadnoMesto)</th>
            <td>@Html.DisplayFor(model => model.RadnoMesto)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
    @if (User.IsInRole(RegistarPreduzecaV11._0.Models.RoleName.SaPravomAdministracije))
    {
        @Html.ActionLink("Obriši", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
    }
    <br />
    <br />
    @Html.ActionLink("Vrati se na listu", "Index")
</p>
