@model IEnumerable<RegistarPreduzecaV11._0.Models.KontaktOsoba>

@{
    ViewBag.Title = "Index";
}

<h2>Spisak kontakt osoba</h2>

<p>
    @Html.ActionLink("Nova osoba", "Create", null, new { @class="btn btn-default" })
</p>
<table class="table table-hover table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Preduzece.RegNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadnoMesto)
        </th>
        @if (User.IsInRole(RegistarPreduzecaV11._0.Models.RoleName.SaPravomAdministracije))
        {
            <th></th>
        }
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Preduzece.RegNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadnoMesto)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.Id }, new { @class="text-success"}) 
        </td>
        <td>
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }, new { @class="text-info"}) 
        </td>
        @if (User.IsInRole(RegistarPreduzecaV11._0.Models.RoleName.SaPravomAdministracije))
        {
            <td>
                @Html.ActionLink("Obriši", "Delete", new { id=item.Id }, new { @class="text-danger"})
            </td>
        }
    </tr>
}

</table>
